<!Doctype html>

<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
     
        <% include ../partials/navigations %>

        <h1><%= headline %></h1>

        <table>
            <tr>
                <td>Matrikelnummer: </td>
                <td><%= matriculation %></td>
            </tr>
            <tr>
                <td>Alter: </td>
                <td><%= age %></td>
            </tr>
            <tr>
                <td>Geburtjahr: </td>
                <td><%= born %></td>
            </tr>
            <tr>
                <td>Geburtsort: </td>
                <td><%= cityOfBirth %></td>
            </tr>
            <tr>
                <td>Beruf: </td>
                <td><%= trade %></td>
            </tr>
            <tr>
                <td>Studium: </td>
                <td><%= study %></td>
            </tr>
            <tr>
                <td>Studienort: </td>
                <td><%= cityOfStudy %></td>
            </tr>
            <tr>
                <td>Familienstand: </td>
                <td><%= familySituation %></td>
            </tr>
            <tr>
                <td>Kinder: </td>
                <td><%= children %></td>
            </tr>
            <tr>
                <td>Geburtsjahr d. Kindes: </td>
                <td><%= bornChild %></td>
            </tr>
        </table>

        <footer>
            Copyright by MARTHA
        </footer>
        
    </body>
</html>